version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "11:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: dtslint
  - dependency-name: mocha
  - dependency-name: "@types/node"
  - dependency-name: sinon
