language: c
env:
  - NODE_VERSION="0.11"
  - NODE_VERSION="0.10"
  - NODE_VERSION="0.8"
os:
  - linux
  - osx
before_install:
  - echo $TRAVIS_OS_NAME
  - export PATH=./node_modules/.bin/:$PATH
  - rm -rf ~/.nvm/ && git clone --depth 1 https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION
  - if [ "$NODE_VERSION" == "0.8" ]; then npm update -g npm; fi
install:
  - npm install
script:
  - npm run ci-test
